body{
  position: absolute;
  background: #000000;
  width: 358px;
  height: 700px;
}


#star1{
position: absolute;
width: 5px;
height: 5px;
left: 84px;
top: 61px;
}

#star2{
position: absolute;
width: 10px;
height: 10px;
left: 41px;
top: 24px;
}
#star3{
position: absolute;
width: 10px;
height: 10px;
left: 41px;
top: 61px;
}
#star4{
position: absolute;
width: 5px;
height: 5px;
left: 19px;
top: 49px;
}
#star5{
position: absolute;
width: 5px;
height: 5px;
left: 81px;
top: 29px;
}
#star6{
position: absolute;
width: 5px;
height: 5px;
left: 101px;
top: 5px;
}
#star7{
position: absolute;
width: 7px;
height: 7px;
left: 66px;
top: 49px;
}
#star8{
position: absolute;
width: 5px;
height: 5px;
left: 106px;
top: 107px;
}
#star9{
position: absolute;
width: 5px;
height: 5px;
left: 36px;
top: 89px;
}
#star10{
position: absolute;
width: 5px;
height: 5px;
left: 63px;
top: 87px;
}
#star11{
position: absolute;
width: 5px;
height: 5px;
left: 321px;
top: 94px;
}
#star12{
position: absolute;
width: 5px;
height: 5px;
left: 278px;
top: 111px;
}
#star13{
position: absolute;
width: 5px;
height: 5px;
left: 268px;
top: 64px;
}
#star14{
position: absolute;
width: 5px;
height: 5px;
left: 294px;
top: 50px;
}
#star15{
position: absolute;
width: 8px;
height: 8px;
left: 302px;
top: 75px;
}
#star16{
position: absolute;
width: 5px;
height: 5px;
left: 323px;
top: 35px;
}
#star17{
position: absolute;
width: 6px;
height: 6px;
left: 281px;
top: 24px;
}
#star18{
position: absolute;
width: 9px;
height: 9px;
left: 305px;
top: 17px;
}
#star19{
position: absolute;
width: 5px;
height: 5px;
left: 251px;
top: 15px;
}
#star20{
position: absolute;
width: 5px;
height: 5px;
left: 241px;
top: 5px;
}
#svet{
position: absolute;
width: 353px;
height: 216px;
left: 3px;
top: 585px;

background: #0E0E10;
box-shadow: 0px -758px 131.1px -50px #78EA7D;
border-radius: 6px;

}

#ball{
  /* Баланс */

position: absolute;
width: 108px;
height: 52px;
left: calc(50% - 108px/2);
top: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #78EA7D;


}
#mainroot{
  width:358px;
}

#summofball{
  /* 123₽ */

display: block; 
width: fit-content;
height: 52px; 
margin: 0 auto;
margin-top: 59px;
top: 59px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #78EA7D;


}

#addfundsimg{
  /* Plus */
pointer-events: none;
position: absolute;
width: 28px;
height: 28px;
margin-left: -5px;
top: 97px;
}

#addfunds{
  
pointer-events: auto;
  border: none;
  background: none;
position: absolute;
  width: 28px;
height: 28px;
margin-left: 250px;
top: 97px; 
}
