
#text1{
  position: absolute;
  top: 300px;
  left: 210px;
  color:#DBD7D2;
  font-family: 'Gurajada';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
}
#img1{
  position: absolute;
  width: 300px;
  height: 300px;
  left: 100px;
}
#categories{
  overflow-y: scroll;
  max-height: 500px;
  position: absolute;
  width: 1200px;
  height: 500px;
  left: 200px;
background-color: #000000;
  top: 200px;
}
.dropbtn {
  background-color: #B87333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
  top: 190px;
  left: 60px;
}


.dropdown-content {
  overflow-y: scroll;
  max-height:400px;
  scrollbar-color: #824d1b #DBD7D2;

  display: none;
  position: absolute;
  background-color: #DBD7D2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #824d1b;}

#linedown1{
  position: absolute;
  width: 576px;
  height: 1px;
  top: 700px;
  left: 930px;
}
#linedown2{
position: absolute;
width: 576px;
height: 1px;
top: 700px;
left: 0px;
}
#delivertext{
  /* Бесплатная доставка по всему Зеленограду */

position: absolute;
width: 290px;
height: 60px;
top: 680px;
left: 615px;
font-family: 'Gurajada';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 35px;
text-align: center;
text-decoration-line: underline;

color: #5F5F5F;


}
#image1{

position: absolute;
width: 452px;
height: 432px;
top: 230px;
left: 35px;
}
#image2{

  position: absolute;
  width: 452px;
  height: 432px;
  top: 230px;
  left: 535px;
  }
  #image3{

    position: absolute;
    width: 452px;
    height: 432px;
    top: 230px;
    left: 1035px;
    }
#logos{
  position:absolute;
  
  top:1px;
  width: 172px;
  height:125px;
  left: calc(50% - 172px/2);
}
#line1{
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 175px;
}

#firstlogo{
  /* Охотничий */

position: absolute;
width: 209px;
height: 53px;
left: calc(50% - 209px/2 - 0.5px);
top: 113px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
text-align: center;

color: #803535;
}
#secondlogo{
position: absolute;
width: 141px;
height: 45px;
left: calc(50% - 141px/2 - 0.5px);
top: 138px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
text-align: center;
color: #E77817;
}
#page1{
position: absolute;
width: 128px;
height: 55px;
top: 100px;
left: 50px;
font-family: 'Gurajada';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 71px;
text-align: center;
color: #000000;
}
#page2{
  position: absolute;
  width: 128px;
  height: 55px;
  top: 100px;
  left: 230px;
  font-family: 'Gurajada';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 71px;
  text-align: center;
  color: #000000;
  }
  
#page3{
  position: absolute;
  width: 128px;
  height: 55px;
  top: 100px;
  left: 450px;
  font-family: 'Gurajada';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 71px;
  text-align: center;
  color: #000000;
  }
  #page4{
    position: absolute;
    width: 128px;
    height: 55px;
    top: 100px;
    left: 950px;
    font-family: 'Gurajada';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 71px;
    text-align: center;
    color: #000000;
    }
    #page5{
      position: absolute;
      width: 128px;
      height: 55px;
      top: 100px;
      left: 1120px;
      font-family: 'Gurajada';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 71px;
      text-align: center;
      color: #000000;
      }
      #phonecall{
        /* Rectangle 7 */

position: absolute;
width: 184px;
height: 49px;
left: 1310px;
top: 105px;

background: #B87333;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #FFFFFF;


      }
      
